*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popins",sans-serif;
}
body{
    display: flex;
justify-content: center;
align-items: center;
min-height:100vh ;
max-width: 100vw;
background:url('./img.jpg') center no-repeat ;
background-size: cover;

}
.wrap{
    max-width: 420px;
    background-color:transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrap h1{
    text-align: center;
    font-size: 36px;
}

.input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}
.input-box input{
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
}
.input-box input::placeholder{
    color: #fff;
}
.input-box i{
    position: absolute;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
    right: 20px;
}
.wrap .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forgot a{
    text-decoration: none;
    color: #fff;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrap .btn{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: #8a4fdd;
    color: white;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease-in-out all;
}
.wrap .btn:hover{
    background-color: #fff;
    color: purple;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);;
}
.register{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 0;
}
.register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin: ;
}
.register a:hover{
    text-decoration: underline;
}

.remember-forgot{

}
.btn{

}
.register{

}